.LightSquare, .DarkSquare, .DarkSquareHighlight, .LightSquareHighlight{
    width: var(--tile-size);
    height: var(--tile-size);
    border:none
}

.DarkSquare{
    background-color: var(--tile-dark)
}
.DarkSquare:hover{
    box-shadow: inset 0 0 0 100px rgba(0,0,0,0.15);
}

.LightSquare{
    background-color: var(--tile-light) 
}
.LightSquare:hover{
    box-shadow: inset 0 0 0 100px rgba(0,0,0,0.15);
}

.DarkSquareHighlight{
    background-color: var(--tile-dark);
    box-shadow: inset 0 0 0 100px rgba(0,0,0,0.35);
;
}

.LightSquareHighlight{
    background-color: var(--tile-light);
    box-shadow: inset 0 0 0 100px rgba(0,0,0,0.35);
}


img{
    width: var(--piece-size);
    position: absolute;
    margin-top: calc(var(--piece-size)/-2);
    margin-left: calc(var(--piece-size)/-2);
}